@inject IProductService ProductService

@if(ProductService.Products == null || ProductService.Products.Count == 0)
{
    <span>Loading Products...</span>
}
else
{
    <ul class="list-unstyled">
        @foreach (var product in ProductService.Products)
        {
           <li class="d-flex my-3 css-media-container"> @*media*@
                <div class="flex-shrink-0 media-img-wrapper ms-2">
                    <a href="/product/@product.Id">
                        <img class="media-img" src="@product.ImageUrl" alt="@product.Title">
                    </a>
                </div>
                <div class="flex-grow-1 ms-3"> @*media-body*@
                    <a href="/product/@product.Id"> @*RAZOR COMMENT: the # means SCROLL TO TOP*@
                        <h4 class="mb-0">@product.Title</h4>
                    </a>
                    <p>@product.Description</p>
                    <h5 class="price">$@product.Price</h5>
                </div>
            </li>
        }
    </ul>
}



@code
{
    protected override async Task OnInitializedAsync()
    {
        await ProductService.GetProducts();
    }
}